In [1]:
import os

In [2]:
os.chdir("C:\\Users\\User\\Desktop\\DataSets")

In [3]:
os.chdir("C:/Users/User/Desktop/DataSets")

In [4]:
wd = os.getcwd()

In [6]:
print(wd)

C:\Users\User\Desktop\DataSets

In [7]:
ls

 Volume in drive C is WIN 7
 Volume Serial Number is F836-E034

 Directory of C:\Users\User\Desktop\DataSets

22-Apr-18  08:23 AM    <DIR>          .
22-Apr-18  08:23 AM    <DIR>          ..
22-Apr-18  08:16 AM             5,155 BikeData.csv
22-Apr-18  08:16 AM            90,167 sampledata2.csv
22-Apr-18  08:16 AM            24,864 StudentSurvey.csv
               3 File(s)        120,186 bytes
               2 Dir(s)  212,105,838,592 bytes free

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
bikeData = pd.read_csv("BikeData.csv")

In [11]:
bikeData.head()

,user_id,age,gender,student,employed,cyc_freq,distance,time,speed
0,1,28,M,1,1,Daily,3.25,15.0,13.00
1,2,35,M,0,1,Daily,1.11,5.0,13.32
2,3,28,M,0,1,Daily,5.59,23.0,NaN
3,4,44,F,0,1,Less than once a month,3.24,24.0,8.10
4,5,42,M,0,1,Several times per week,NaN,26.0,18.02

In [12]:
bikeData.head(10)

,user_id,age,gender,student,employed,cyc_freq,distance,time,speed
0,1,28,M,1,1,Daily,3.25,15.0,13.00
1,2,35,M,0,1,Daily,1.11,5.0,13.32
2,3,28,M,0,1,Daily,5.59,23.0,NaN
3,4,44,F,0,1,Less than once a month,3.24,24.0,8.10
4,5,42,M,0,1,Several times per week,NaN,26.0,18.02
5,6,36,M,0,1,Several times per week,3.00,20.0,9.00
6,7,45,M,0,1,Several times per week,13.03,51.0,15.33
7,8,54,M,0,1,Several times per week,6.21,39.0,9.55
8,9,39,M,0,1,Several times per week,13.95,50.0,16.74
9,10,44,M,0,0,Several times per month,7.40,44.0,10.09

In [13]:
bikeData.shape

(121, 9)

In [15]:
bikeData.shape[0]

121

In [16]:
bikeData.dtypes

user_id       int64
age           int64
gender       object
student       int64
employed      int64
cyc_freq     object
distance    float64
time        float64
speed       float64
dtype: object

In [20]:
bikeData = bikeData.rename(columns={'user_id' : 'UserId'})

In [21]:
print(bikeData)

     UserId  age gender  student  employed                 cyc_freq  distance  \
0         1   28      M        1         1                    Daily      3.25
1         2   35      M        0         1                    Daily      1.11
2         3   28      M        0         1                    Daily      5.59
3         4   44      F        0         1   Less than once a month      3.24
4         5   42      M        0         1   Several times per week       NaN
5         6   36      M        0         1   Several times per week      3.00
6         7   45      M        0         1   Several times per week     13.03
7         8   54      M        0         1   Several times per week      6.21
8         9   39      M        0         1   Several times per week     13.95
9        10   44      M        0         0  Several times per month      7.40
10       11   29      M        0         1                    Daily      4.36
11       12   32      M        0         1   Several times per week      5.02
12       13   40      M        0         1   Several times per week      5.01
13       14   29      M        0         1                    Daily      2.62
14       15   26      M        1         1                    Daily     10.94
15       16   39      M        0         1   Several times per week     12.28
16       17   33      M        0         1                    Daily     10.02
17       18   32      F        1         1                    Daily       NaN
18       19   43      M        0         1                    Daily      7.02
19       20   29      M        0         0   Several times per week      3.22
20       21   51      F        0         1   Several times per week      3.40
21       22   36      M        0         1   Several times per week      5.19
22       23   29      M        0         1   Several times per week      4.34
23       24   30      F        0         1   Several times per week      4.89
24       25   30      M        0         1   Several times per week      2.17
25       26   35      M        0         1                    Daily      6.04
26       27   27      F        0         1   Several times per week      0.87
27       28   37      M        0         1   Several times per week      6.85
28       29   27      F        0         1   Several times per week      3.09
29       30   25      M        0         1   Several times per week      8.10
..      ...  ...    ...      ...       ...                      ...       ...
91       92   38      M        0         1                    Daily      1.31
92       93   29      M        0         1   Several times per week      0.52
93       94   36      F        0         1  Several times per month      3.80
94       95   29      M        0         1   Several times per week      5.30
95       96   33      M        0         1                    Daily      7.92
96       97   29      M        1         0   Several times per week      3.52
97       98   37      M        0         1                    Daily      3.13
98       99   43      M        0         1                    Daily      9.72
99      100   30      M        0         1                    Daily      3.85
100     101   40      M        0         1   Several times per week     12.17
101     102   28      M        0         0                    Daily      7.03
102     103   25      F        1         0                    Daily     13.43
103     104   44      M        0         1   Several times per week      9.29
104     105   42      F        0         1                    Daily      1.01
105     106   33      M        0         1   Several times per week      9.15
106     107   37      M        0         1                    Daily     13.47
107     108   32      M        0         1                    Daily      6.10
108     109   51      F        0         1   Several times per week      5.17
109     110   54      M        0         1                    Daily      2.78
110     111   30      M        1         0                    Daily      7.19
111     112   34      M        0         1                    Daily      9.12
112     113   34      M        0         1  Several times per month      0.74
113     114   43      M        0         1   Several times per week     12.85
114     115   33      F        1         1   Several times per week      8.31
115     116   29      F        0         0   Several times per week      3.22
116     117   46      M        0         1                    Daily      8.14
117     118   41      F        0         1   Several times per week      3.00
118     119   44      F        0         1                    Daily      7.84
119     120   46      F        0         1   Several times per week      5.88
120     121   38      M        0         1   Several times per week      9.01

     time  speed
0    15.0  13.00
1     5.0  13.32
2    23.0    NaN
3    24.0   8.10
4    26.0  18.02
5    20.0   9.00
6    51.0  15.33
7    39.0   9.55
8    50.0  16.74
9    44.0  10.09
10    NaN  13.08
11   27.0  11.16
12   23.0  13.07
13   15.0  10.48
14   34.0  19.31
15   40.0  18.42
16   45.0  13.36
17   40.0  14.01
18   28.0  15.04
19   12.0  16.10
20   21.0   9.71
21   21.0  14.83
22   17.0    NaN
23   19.0  15.44
24   10.0  13.02
25   31.0  11.69
26    6.0   8.70
27   26.0  15.81
28    NaN   8.43
29   32.0  15.19
..    ...    ...
91    5.0  15.72
92    3.0  10.40
93   14.0  16.29
94   21.0  15.14
95   49.0   9.70
96   15.0  14.08
97   12.0  15.65
98   45.0  12.96
99   15.0  15.40
100  50.0  14.60
101  32.0  13.18
102  37.0  21.78
103  41.0  13.60
104   6.0  10.10
105  43.0  12.77
106  41.0  19.71
107  35.0  10.46
108  27.0  11.49
109  27.0   6.18
110  26.0  16.59
111  36.0  15.20
112   4.0  11.10
113  25.0  30.84
114  42.0  11.87
115  14.0  13.80
116  40.0  12.21
117  42.0   4.29
118  48.0   9.80
119  26.0  13.57
120  41.0  13.19

[121 rows x 9 columns]

In [40]:
mobileData = pd.read_csv("MobileData2204.csv")

In [30]:
mobileData.shape

(10, 6)

In [59]:
mobileData.dtypes
mobileData=mobileData[['Name','Gender','Color','Age','Salary','PurchaseFlag']]

In [60]:
x = mobileData.iloc[:,:-1].values

In [35]:
test = [1,2,4,6,8,10]

In [36]:
test

[1, 2, 4, 6, 8, 10]

In [37]:
test[1:4]

[2, 4, 6]

In [38]:
test[-1]

10

In [61]:
print(x)

[['Anusha ' 'F' 'White' 23 25000.0]
 ['Anvesh' 'M' 'Black' 22 nan]
 ['Shreshta' 'F' nan 24 20000.0]
 ['Mounika' 'F' 'White' 25 30000.0]
 ['Pragna' 'F' nan 23 35000.0]
 ['Sindhu' 'F' nan 24 nan]
 ['Tapaswi' 'F' 'Black' 25 29000.0]
 ['Iqra' 'F' nan 25 nan]
 ['Nandish' 'M' nan 21 22000.0]
 ['Govardhan' 'M' 'White' 22 nan]]

In [62]:
x

array([['Anusha ', 'F', 'White', 23, 25000.0],
       ['Anvesh', 'M', 'Black', 22, nan],
       ['Shreshta', 'F', nan, 24, 20000.0],
       ['Mounika', 'F', 'White', 25, 30000.0],
       ['Pragna', 'F', nan, 23, 35000.0],
       ['Sindhu', 'F', nan, 24, nan],
       ['Tapaswi', 'F', 'Black', 25, 29000.0],
       ['Iqra', 'F', nan, 25, nan],
       ['Nandish', 'M', nan, 21, 22000.0],
       ['Govardhan', 'M', 'White', 22, nan]], dtype=object)

In [99]:
y  = mobileData.iloc[:,-1].values

In [100]:
y

array(['Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes'], dtype=object)

In [48]:
from sklearn.preprocessing import Imputer

In [51]:
?Imputer

In [69]:
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [70]:
imp = imp.fit(x[:,3:5])

In [72]:
x[:,3:5] = imp.transform(x[:,3:5])

In [73]:
x

array([['Anusha ', 'F', 'White', 23.0, 25000.0],
       ['Anvesh', 'M', 'Black', 22.0, 26833.333333333332],
       ['Shreshta', 'F', nan, 24.0, 20000.0],
       ['Mounika', 'F', 'White', 25.0, 30000.0],
       ['Pragna', 'F', nan, 23.0, 35000.0],
       ['Sindhu', 'F', nan, 24.0, 26833.333333333332],
       ['Tapaswi', 'F', 'Black', 25.0, 29000.0],
       ['Iqra', 'F', nan, 25.0, 26833.333333333332],
       ['Nandish', 'M', nan, 21.0, 22000.0],
       ['Govardhan', 'M', 'White', 22.0, 26833.333333333332]], dtype=object)

In [74]:
mobileData.head()

       Name Gender  Color  Age   Salary PurchaseFlag
0   Anusha       F  White   23  25000.0          Yes
1    Anvesh      M  Black   22      NaN           No
2  Shreshta      F    NaN   24  20000.0          Yes
3   Mounika      F  White   25  30000.0          Yes
4    Pragna      F    NaN   23  35000.0           No

In [75]:
from sklearn.preprocessing import LabelEncoder

In [76]:
?LabelEncoder

In [77]:
x

array([['Anusha ', 'F', 'White', 23.0, 25000.0],
       ['Anvesh', 'M', 'Black', 22.0, 26833.333333333332],
       ['Shreshta', 'F', nan, 24.0, 20000.0],
       ['Mounika', 'F', 'White', 25.0, 30000.0],
       ['Pragna', 'F', nan, 23.0, 35000.0],
       ['Sindhu', 'F', nan, 24.0, 26833.333333333332],
       ['Tapaswi', 'F', 'Black', 25.0, 29000.0],
       ['Iqra', 'F', nan, 25.0, 26833.333333333332],
       ['Nandish', 'M', nan, 21.0, 22000.0],
       ['Govardhan', 'M', 'White', 22.0, 26833.333333333332]], dtype=object)

In [78]:
labelEnc = LabelEncoder()

In [79]:
x[:,0] = labelEnc.fit_transform(x[:,0])

In [80]:
x

array([[0, 'F', 'White', 23.0, 25000.0],
       [1, 'M', 'Black', 22.0, 26833.333333333332],
       [7, 'F', nan, 24.0, 20000.0],
       [4, 'F', 'White', 25.0, 30000.0],
       [6, 'F', nan, 23.0, 35000.0],
       [8, 'F', nan, 24.0, 26833.333333333332],
       [9, 'F', 'Black', 25.0, 29000.0],
       [3, 'F', nan, 25.0, 26833.333333333332],
       [5, 'M', nan, 21.0, 22000.0],
       [2, 'M', 'White', 22.0, 26833.333333333332]], dtype=object)

In [82]:
x[:,1] = labelEnc.fit_transform(x[:,1])

In [84]:
x

array([[0, 0, 'White', 23.0, 25000.0],
       [1, 1, 'Black', 22.0, 26833.333333333332],
       [7, 0, nan, 24.0, 20000.0],
       [4, 0, 'White', 25.0, 30000.0],
       [6, 0, nan, 23.0, 35000.0],
       [8, 0, nan, 24.0, 26833.333333333332],
       [9, 0, 'Black', 25.0, 29000.0],
       [3, 0, nan, 25.0, 26833.333333333332],
       [5, 1, nan, 21.0, 22000.0],
       [2, 1, 'White', 22.0, 26833.333333333332]], dtype=object)

In [92]:
from sklearn.cross_validation import train_test_split

In [87]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [94]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [93]:
?train_test_split

In [95]:
x_train

array([[9, 0, 'Black', 25.0, 29000.0],
       [3, 0, nan, 25.0, 26833.333333333332],
       [6, 0, nan, 23.0, 35000.0],
       [1, 1, 'Black', 22.0, 26833.333333333332],
       [4, 0, 'White', 25.0, 30000.0],
       [2, 1, 'White', 22.0, 26833.333333333332],
       [8, 0, nan, 24.0, 26833.333333333332],
       [5, 1, nan, 21.0, 22000.0]], dtype=object)

In [101]:
y_train

array([[  2.50000000e+01,   2.90000000e+04],
       [  2.50000000e+01,              nan],
       [  2.30000000e+01,   3.50000000e+04],
       [  2.20000000e+01,              nan],
       [  2.50000000e+01,   3.00000000e+04],
       [  2.20000000e+01,              nan],
       [  2.40000000e+01,              nan],
       [  2.10000000e+01,   2.20000000e+04]])

In [97]:
x_test

array([[7, 0, nan, 24.0, 20000.0],
       [0, 0, 'White', 23.0, 25000.0]], dtype=object)

In [98]:
y_test

array([[  2.40000000e+01,   2.00000000e+04],
       [  2.30000000e+01,   2.50000000e+04]])

In [102]:
y

array(['Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes'], dtype=object)